
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 60%;
  height: 100vh;
  margin: 100px 250px;
  background-color: hsl(0, 0%, 80%);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1,
.card2,
.card3{
    padding: 20px 15px;
   
}
.card1{
  background-color: var(--brightOrange);
  padding: 30px 30px;
  
}
.card2{
  background-color: var(--darkCyan);
  padding: 30px 30px;
}
.card3{
  background-color: var(--veryDarkCyan);
  padding: 30px 30px;
}
.card1 img,
.card2 img,
.card3 img{
  margin-top: 30px;
  margin-bottom: 30px;
}
.card1 h2,
.card2 h2,
.card3 h2{
    margin-bottom: 40px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}
.card1 p,
.card2 p,
.card3 p{
  margin-bottom: 70px;
  color: white;
  font-family: 'Big shoulder Display', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a{
  padding:10px 25px;
 
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
  border: none;

}

.lm2 a{
  color:var(--veryDarkCyan);
}
.lm3 a{
  color:var(--brightOrange);
}
.lm1 a{
  color: var(--darkCyan);
}
.attribution{
 text-align: center;
 color: hsl(179, 100%, 13%);
margin-top: 60px;
}
  

@media only screen and (max-width:600px) {
  body{
    margin: 10px 70px;
  }
  .container{
    display: flex;
    flex-direction: column;
    
  }
  .card1 p,
  .card2 p,
  .card3 p{
  margin-bottom: 40px;
  }
.card1 img,
.card2 img,
.card3 img{
  margin-top: 10px;
  margin-bottom: 20px;
 }
.card1 h2,
.card2 h2,
.card3 h2{
    margin-bottom: 20px;
  
}
.attribution{
  margin-top:20px
}
}